<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="addMatRepositoryDAO" class="dao.AddMatRepositoryDAO"/>
    <bean id="courseRepositoryDAO" class="dao.CourseRepositoryDAO"/>
    <bean id="homeworkRepositoryDAO" class="dao.HomeworkRepositoryDAO"/>
    <bean id="lectureRepositoryDAO" class="dao.LectureRepositoryDAO"/>
    <bean id="studentRepositoryDAO" class="dao.StudentRepositoryDAO"/>
    <bean id="teacherRepositoryDAO" class="dao.TeacherRepositoryDAO"/>
</beans>